  <!--AGENT-->
  <div class="form-group">
  	<label class="col-sm-2  control-label">Responsable:</label>
  	<div class="col-sm-8">
  		<input type="text" class="form-control" name="agent[]">
  	</div>
  </div>
  <!--AGENT'S URL-->
  <div class="form-group">
  	<div class="col-sm-2  control-label">
  		<label>Responsable URL:</label>
  	</div>
  	<div class="col-sm-8">
  		<input type="text" class="form-control" name="agent_url[]"> 
  		<a href="#">Eliminar responsable y URL</a>
  	</div>
  </div>