$black-10: 	darken(#fff, 10%);
$black-20: 	darken(#fff, 20%);
$black-30: 	darken(#fff, 30%);
$black-40: 	darken(#fff, 40%);
$black-50: 	darken(#fff, 50%);
$black-60: 	darken(#fff, 60%);
$black-70: 	darken(#fff, 70%);
$black-80: 	darken(#fff, 80%);
$black-90: 	darken(#fff, 90%);

$completado: 		#00a76f;
$completado_hov:	#089364;
$tarde:		 		#ff6451;
$tarde_hov:			#d44230;
$proceso:	 		#ffe460;
$proceso_hov:		#e9cf52;
$links:			 #2579f8;